
.searchBar {
    max-width: 500px;
    margin: auto;
    position: relative;
    padding: 1em;
}

.searchInput {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(180, 180, 180);
}

.searchButton {
    position: absolute;
    top: 16px;
    right: 14px;
}

.bookList {
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    text-align: left;
}

.bookName {
    margin-right: 1em;
}

.authorName {
    font-weight: 600;
}

.totalResults{
    text-align: center;
}

.singleResult {
    padding: 5px;
}

.completeResults {
    margin: auto;
    max-width: 700px;
}

.completeResults ul {
    list-style: none;
}

.authorName{
    text-align: right;
}

.loading{
    margin-bottom: 100px;
}